{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suhrab Portfolio|Resume</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Poppins:200|Varela+Round|Lato:300|Lato:700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'portfolio/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    <div class="site-container">
        <header class="site-header">
            <div class="wrap-header">
                <div class="profile-image">
                    <img class="profile-img" src="{% static 'portfolio/images/Untitled-4.png' %}" alt="front-end">
                </div>
                <div class="title-area">
                    <h1 class="my-name">Suhrab Kurbanov</h1>
                    <p class="description">Software Engineer / Web Developer</p>
                    <div class="social-links">
                        <ul>
                            <li class="social-link-li"><a href="https://scholar.google.com/citations?user=OZvagzUAAAAJ&hl=en" target="_blank" class="fas fa-graduation-cap"></a></li>
                            <li class="social-link-li"><a href="https://github.com/suhrabjan" target="_blank" class="fab fa-github-alt"></a></li>
                            <li class="social-link-li"><a href="https://plus.google.com/118107686741374691020" target="_blank" class="fab fa-google-plus-g"></a></li>
                            <li class="social-link-li"><a href="https://www.linkedin.com/in/suhrab-kurbanov-95aa8046/" target="_blank" class="fab fa-linkedin-in"></a></li>
                            <li class="social-link-li"><a href="https://twitter.com/sir_suhrab?lang=en" target="_blank" class="fab fa-twitter"></a></li>
                            <li class="social-link-li"><a href="https://www.facebook.com/sir.suhrab" target="_blank" class="fab fa-facebook-f"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="download-cv">
                    <a href="{% static 'portfolio/resume/Suhrab-Kurbanov-Resume.pdf' %}">Download CV</a>
                </div>
            </div>
        </header>
        <nav id="drawer" class="site-navigation">
            <div class="menu_bar"><a href="#" id="menu" class="fas fa-bars"></a></div>
            <ul id="nav-drawer">
                <li><a href="{% url 'portfolio-home' %}"><i class="fas fa-home"></i></a></li>
                <li><a href="{% url 'portfolio-portfolio' %}">Portfolio</a></li>
                <li id="projects">
                    <a href="#">Projects</a>
                    <div id="project-container">
                        <ul>
                            <h5>Latest Projects</h5>
                            <li><a href="#">Genome_Seq_Reverter</a></li>
                            <li><a href="#">BulkImageResizer</a></li>
                            <li><a href="#">Memory Game</a></li>
                            <li><a href="#">Snake Game</a></li>
                            <li><a href="#">Star Shower</a></li>
                            <li><a href="#">Responsive Circles</a></li>
                            <li><a href="#">Pixel Art Maker</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="https://scholar.google.com/citations?user=OZvagzUAAAAJ&hl=en" target="_blank">Publications</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <main class="site-mainContent">
            <section class="main-work-entries">
                {% block content1 %}
                {% endblock %}
            </section>
            <section class="aside-work-entries">
                {% block content2 %}
                {% endblock %}
            </section>
        </main>
    </div>

    <script>
        var menu = document.querySelector('#menu');
        var main = document.querySelector('main');
        var header = document.querySelector('header')
        var navDrawer = document.querySelector('#nav-drawer');

        menu.addEventListener('click', function(e) {
          navDrawer.classList.toggle('open');
          e.stopPropagation();
        });
        main.addEventListener('click', function() {
          navDrawer.classList.remove('open');
        });
        header.addEventListener('click', function() {
          navDrawer.classList.remove('open');
        });
    </script>
<!--     <script>
        const projects = document.querySelector('#projects');
        const projectContainer = document.querySelector('#project-container')
        document.addEventListener('mouseover', function(e) {
            e.preventDefault();
            if (e.target.id === 'projects' || e.target.className === 'sync'){
                projects.setAttribute('style', 'border-bottom: 3px solid #0099e5;');
                projectContainer.setAttribute('style', 'display : block; transition: opacity .4s ease-in-out;')
            } else {
                projects.setAttribute('style', 'border-bottom: none');
                projectContainer.style.display = 'none';
            }
        })
    </script> -->
</body>
</html>
