{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfolio/canvas.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans:100|Poppins|Poppins:100,200,300|Varela+Round|Lato:300|Lato:700|Exo:100,200,300,400|Oxygen:300" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>Portfolio Home</title>

</head>
<body>
    <canvas id="canvas"></canvas>
    <main class="loading">
        <div id="title">
            <h1>SUHRAB KURBANOV</h1>
            <h2>Software Engineer & Developer</h2>
            <hr>
            <ul class="social">
                <li><a class="grad fas fa-graduation-cap" href="https://scholar.google.com/citations?user=OZvagzUAAAAJ&hl=en" target="_blank"></a></li>
                <li><a class="git fab fa-github-alt" href="https://github.com/suhrabjan" target="_blank"></a></li>
                <li><a class="google fab fa-google-plus-g" href="https://plus.google.com/118107686741374691020" target="_blank"></a></li>
                <li><a class="link fab fa-linkedin-in" href="https://www.linkedin.com/in/suhrab-kurbanov-95aa8046/" target="_blank"></a></li>
                <li><a class="twit fab fa-twitter" href="https://twitter.com/sir_suhrab?lang=en" target="_blank"></a></li>
                <li><a class="face fab fa-facebook-f" href="https://www.facebook.com/sir.suhrab" target="_blank"></a></li>
            </ul>
            <ul class="portfolio">
                <li><a href="{% url 'portfolio-portfolio' %}">Portfolio</a></li>
                <li><a href="{% static 'portfolio/resume/resume.pdf' %}">Resume</a></li>
            </ul>

        </div>
    </main>
    <script src="{% static 'portfolio/canvas.js' %}"></script>
    <script>
        window.addEventListener('load', function(e) {
            document.querySelector('#title').setAttribute('style', 'opacity: unset; -moz-transition: opacity 2s ease-in-out; -webkit-transition: opacity 2s ease-in-out; transition: opacity 2s ease-in-out;')
        });
    </script>
</body>
</html>
