{% extends 'portfolio/base.html' %}

{% block content1 %}
    <article class="article-main-1">
        <header>
            <h2>Work Experience</h2>
        </header>
        <div class="article-div">
            <h3>Intern • Developer • Bioinformatics Programmer</h3>
            <h4><a href="http://www.na.edu/" target="_blank"> North American University, Department of Computer Science</a> • 2018-Current</h4>
            <ul class="main-work-ul">
                <li>Provide technical advice and assist in solving programming problems</li>
                <li>Develop Bioinformatics apps by implementing Genomic and Proteomic databases</li>
                <li>Create backend user authentication system using Python and MySQL / PostgreSQL</li>
                <li>Develop frontend web applications using AngularJS and ReactJS</li>
            </ul>
        </div>
        <hr>
        <div class="article-div">
            <h3>Software Engineer • Data Analyst</h3>
            <h4><a href="#">Antivlia LLC </a> • 2015-Current</h4>
            <ul class="main-work-ul">
                <li>Developed web scraping programs using Python for collecting competitive data</li>
                <li>Designed and developed programs that automates inventory purchasing and selling</li>
                <li>Developed price predicting apps for a given niche of goods</li>
                <li>Saved the company approximately $200,000 / year</li>
            </ul>
        </div>
        <hr>
        <div class="article-div">
            <h3>Graduate Research Assistant</h3>
            <h4><a href="https://www.texaschildrens.org/research/laboratories/leonid-s-metelitsa-md-phd/lab-members" target="_blank">Baylor College of Medicine</a> • 2011-2017</h4>
            <ul class="main-work-ul">
                <li>The role of the CD1d-restricted Natural Killer T cells in the immune response to Salmonella-based recombinant cancer vaccines</li>
                <li>Development of a cancer vaccine using attenuated Salmonella and type III secretion system to deliver recombinant tumor-associated antigens</li>
            </ul>
        </div>
        <hr>
        <div class="article-div">
            <h3>Intern • Research Assistant</h3>
            <h4><a href="https://ki.se/en/medh/center-for-infectious-medicine" target="_blank">Center for Infectious Medicine, Karolinska Institutet, Sweden </a> • Summer 2009</h4>
            <ul class="main-work-ul">
                <li>Expression, Refolding and Crystallization of an Artificially Mutated MHC class I Molecule with a Truncated HIV Peptide.</li>
                <li>Presented the results in symposium, Cambridge University, London, UK</li>
            </ul>
        </div>
    </article>
    <article class="article-main-2">
        <header>
            <h2>Latest Projects</h2>
        </header>
        <div class="article-div">
            <h3><a href="https://github.com/arncelik/Genome_Sequence_Reverter" target="_blank">DNA_RNA_Protein Converter App</a></h3>
            <h4>Scrum Master & Lead Developer & Tester</h4>
            <p>A full featured web app, which is designed to generate a complement DNA, convert DNA to RNA, convert RNA to Protein, design primers for PCR, find point mutations, perform format conversions (ex: from FASTA to EMBL), find restriction sites and provide appropriate restriction enzyme names, and much more.</p>
            <p>Held a double role, as Team Lead as well as Main Developer in a complete agile environment. I was responsible for the programming and design of the website and backend database.</p>
        </div>
        <hr>
        <div class="article-div">
            <h3><a href="https://github.com/suhrabjan/BulkImageResizer" target="_blank">BulkImageResizer App</a></h3>
            <h4>Python Developer / Software Engineer</h4>
            <p>BulkImageResizer automates image resizing and compression of any number of images in a folder. It handles almost any image format. This saves hours of hard work and completes the task in seconds as well as increases the website performance dramatically.</p>
            <p>I developed this app for responsive front end web development using Python and succesfuly launched the app.</p>
        </div>
        <hr>
        <div class="article-div">
            <h3><a href="https://suhrabjan.github.io/memoryGame/" target="_blank">Memory Game App</a></h3>
            <h4>Web Developer / Game Developer</h4>
            <p>A game I developped for my kids with Object-Oriented JavaScript. Please give it a try and enjoy.</p>
        </div>
        <hr>
        <div class="article-div">
            <h3><a href="https://suhrabjan.github.io/snakeGameForMyKids/" target="_blank">Snake Game App</a></h3>
            <h4>Web Developer / Game Developer</h4>
            <p>Yet another game I programmed for my kids with Object-Oriented JavaScript. Please give it a try and enjoy.</p>
        </div>
    </article>
    <article class="article-main-3">
        <header>
            <h2>Programming Skills</h2>
        </header>
        <div class="article-div">
            <h3>Languages:</h3>
            <div class="programming-skills">
                <ul class="main-work-ul">
                    <li>JavaScript</li>
                    <li>Java</li>
                    <li>Python</li>
                </ul>
                <ul class="main-work-ul">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>SQL</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="article-div">
            <h3>Tools, Frameworks, and Libraries:</h3>
            <div class="programming-skills">
                <ul class="main-work-ul">
                    <li>Git and GitHub</li>
                    <li>Django</li>
                    <li>Flask</li>
                    <li>Numpy / Pandas / Matplotlib</li>
                </ul>
                <ul class="main-work-ul">
                    <li>Angular</li>
                    <li>React</li>
                    <li>Node</li>
                    <li>jQuery</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="article-div">
            <h3>Testing Tools and Frameworks:</h3>
            <div class="programming-skills">
                <ul class="main-work-ul">
                    <li>Java Selenium</li>
                    <li>Python Selenium</li>
                    <li>Cucumber</li>
                    <li>TestNG</li>
                </ul>
                <ul class="main-work-ul">
                    <li>JUnit</li>
                    <li>POM</li>
                    <li>Jenkins</li>
                    <li>JIRA</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="article-div">
            <h3>Software:</h3>
            <div class="programming-skills">
                <ul class="main-work-ul">
                    <li>Mac OS X</li>
                    <li>Linux</li>
                    <li>Windows</li>
                </ul>
                <ul class="main-work-ul">
                    <li>Photoshop / Illustrator</li>
                    <li>Chrome Dev Tools</li>
                    <li>Sublime Text </li>
                </ul>
            </div>
        </div>
    </article>
    <article class="article-main-4">
        <header>
            <h2>Personal Websites</h2>
        </header>
        <div class="article-div">
            <h3><a href="http://SuhrabK.com" target="_blank">SuhrabK.com</a></h3>
            <h4>Creator, Writer, Administrator</h4>
            <p>Personal blog about programming, web / mobile development, algorithms and more</p>
        </div>
        <hr>
        <div class="article-div">
            <h3><a href="https://github.com/suhrabjan/DNA_RNA_Protein_Converter_App" target="_blank">Genome-projects.com</a></h3>
            <h4>Creator, Writer, Administrator</h4>
            <p>Project created to continuously develop interesting Bioinformatics projects</p>
        </div>
    </article>
{% endblock content1 %}

{% block content2 %}
    <article class="article-aside-1 aside-1">
        <header>
            <h3>Education</h3>
        </header>
        <div class="aside-div">
            <h3>North American University</h3>
            <h4><a class="article-anchor" href="http://www.na.edu/degree-programs/graduate-programs/m-s-computer-science/" target="_blank">Master of Science in Computer Science</a> • 2018-Current</h4>
            <p><strong>Honors:</strong> Will be competing in ICPC Programming / Algorithm Contest on November 10, 2018</p>
        </div>
        <hr>
        <div class="aside-div">
            <h3>Baylor College Of Medicine</h3>
            <h4><a class="article-anchor" href="https://www.bcm.edu/education/schools/graduate-school-of-biomedical-sciences/programs/immunology-microbiology" target="_blank">Immunology & Microbiology Graduate Program</a> • 2011-2017</h4>
            <p><strong>PhD Candidate</strong> with <strong>Master's Degree</strong></p>
        </div>
        <hr>
        <div class="aside-div">
            <h3>Fatih University</h3>
            <h4><a class="article-anchor" href="#">Department of Art & Science</a> • 2007-2011</h4>
            <p><strong>Bachelor of Science</strong> in Biology with a minor in Bioengineering</p>
            <p><strong>GPA:</strong> 3.87 / 4.0</p>
            <p><strong>Honors:</strong> Ranked 1st in the department throughout 4 years</p>
        </div>
    </article>
    <article class="article-aside-1 aside-3">
        <header>
            <h3>Awards & Achievements</h3>
        </header>
        <div class="aside-div">
            <p>Will be competing in ICPC Programming & Algorithm Contest on November 10, 2018</p>
            <hr>
            <p>Won <strong>Bronze Medal</strong> in International Biology Olympiad, Saskatoon, Canada • 2007</p>
            <hr>
            <p>Honorable Mention in International Biology Olympiad, Rio Cuarto, Argentina • 2006</p>
            <hr>
            <p><strong>Gold and Silver medals</strong> in National Biology Olympiad of Turkmenistan • 2006, 2007</p>
        </div>
    </article>
    <article class="article-aside-1 aside-2">
        <header>
            <h3>Scientific Publications</h3>
        </header>
        <div class="article-div">
            <h4><a href="https://www.cell.com/molecular-therapy-family/molecular-therapy/fulltext/S1525-0016(16)33822-9" target="_blank">Development of an Effective Cancer Vaccine Platform Using Attenuated Salmonella to Deliver Recombinant Tumor-Associated Antigens</a> • 2015</h4>
        </div>
        <hr>
        <div class="article-div">
            <h4><a href="http://cancerres.aacrjournals.org/content/74/21/6260.short" target="_blank">Effective Cancer Vaccine Platform Based on Attenuated Salmonella and a Type III Secretion System</a> • 2014</h4>
        </div>
        <hr>
        <div class="article-div">
            <h4><a href="http://cancerres.aacrjournals.org/content/early/2014/09/11/0008-5472.CAN-14-1169.short" target="_blank">Development of an effective cancer vaccine using attenuated Salmonella and type iii secretion system to deliver recombinant tumor-associated antigens</a> • 2014</h4>
        </div>
        <hr>
        <div class="article-div">
            <h4><a href="http://www.jimmunol.org/content/190/1_Supplement/45.5.short" target="_blank">Potent therapeutic activity of a novel Salmonella-based cancer vaccine (P4314)</a> • 2013</h4>
        </div>
    </article>
    <article class="article-aside-1 aside-4">
        <header>
            <h3>Activities & Hobbies</h3>
        </header>
        <div class="aside-div">
            <p><strong>Actively competing in algorithm contests such as:</strong></p>
            <br>
            <p><a href="http://hackerrank.com"><strong>hackerrank:</strong> </a><span> ranked in top 1% out of 1221929 contestants</span></p>
            <hr>
            <p><a href="http://leetcode.com"><strong>leetcode</strong></a></p>
            <hr>
            <p><a href="http://rosalind.info"><strong>rosalind</strong></a></p>
        </div>
    </article>
{% endblock content2 %}

<!--                 <article class="article-main-5">
                    <header>
                        <h2>Scientific Publications</h2>
                    </header>
                    <div class="article-div">
                        <h4><a href="https://www.cell.com/molecular-therapy-family/molecular-therapy/fulltext/S1525-0016(16)33822-9" target="_blank">Development of an Effective Cancer Vaccine Platform Using Attenuated Salmonella to Deliver Recombinant Tumor-Associated Antigens</a> • 2015</h4>
                    </div>
                    <hr>
                    <div class="article-div">
                        <h4><a href="http://cancerres.aacrjournals.org/content/74/21/6260.short" target="_blank">Effective Cancer Vaccine Platform Based on Attenuated Salmonella and a Type III Secretion System</a> • 2014</h4>
                    </div>
                    <hr>
                    <div class="article-div">
                        <h4><a href="http://cancerres.aacrjournals.org/content/early/2014/09/11/0008-5472.CAN-14-1169.short" target="_blank">Development of an effective cancer vaccine using attenuated Salmonella and type iii secretion system to deliver recombinant tumor-associated antigens</a> • 2014</h4>
                    </div>
                    <hr>
                    <div class="article-div">
                        <h4><a href="http://www.jimmunol.org/content/190/1_Supplement/45.5.short" target="_blank">Potent therapeutic activity of a novel Salmonella-based cancer vaccine (P4314)</a> • 2013</h4>
                    </div>
                </article> -->

            <!-- Aside Work Entries -->
            <!-- Aside Work Entries -->
            <!-- Aside Work Entries -->
